<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.innovation.mapper.UserMapper">
    <select id="selectByUsername" parameterType="String" resultType="com.innovation.entity.User">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.innovation.entity.User">
        INSERT INTO user (
            username, password, role, real_name,
            student_id, class, teacher_id, department,
            email, phone, create_time, update_time
        ) VALUES (
                     #{username}, #{password}, #{role}, #{realName},
                     #{studentId}, #{className}, #{teacherId}, #{department},
                     #{email}, #{phone}, #{createTime}, #{updateTime}
                 )
    </insert>
</mapper>